.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    width: 800px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
  
  .modal h2 {
    text-align: center;
  }
  
  .modal label {
    display: block;
    margin: 10px 0 5px;
  }
  .modal select {
    width: 101%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal input,
  .modal textarea{
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .delete-button, .save-button, .share-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .delete-button{
    background-color: #f44336;

  }
  .modal-actions .save-button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    padding: 8px 15px;
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .save-button:hover {
    background-color: #e53935;
  }

  .share-button{
    background-color: darkcyan;
    margin-left: 62%;
  }

  .dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    width: 100%;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background: #f0f0f0;
  }
  .user-list-item {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-info {
    text-align: left; /* Alinha o texto à esquerda */
  }
  .user-info-container-hidden {
    display: none; /* Alinha o texto à esquerda */
  }
  
  .delete-button {
    background-color: #ff4d4f; /* Cor para destacar o botão */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px; /* Espaço entre o botão e o texto */
  }
  
  .delete-button:hover {
    background-color: #d9363e;
  }
  